<template>
  <div>
    <gl-new-button category="primary" variant="warning">warning</gl-new-button>
    <gl-new-button category="secondary" variant="warning">warning</gl-new-button>
  </div>
</template>
