import { shallowMount } from '@vue/test-utils';
import Gl{{pascalCase name}} from '../../../src/components/base/{{name}}/{{name}}.vue';

describe('Gl{{pascalCase name}}', () => {
  it('renders main components', () => {
    const wrapper = shallowMount(Gl{{pascalCase name}});
    expect(wrapper).toBeInstanceOf(Object);
  });
});
