<template>
  <div>
    <gl-new-button category="secondary" variant="success">success</gl-new-button>
    <gl-new-button category="secondary" variant="info">info</gl-new-button>
    <gl-new-button category="secondary" variant="warning">warning</gl-new-button>
    <gl-new-button category="secondary" variant="danger">danger</gl-new-button>
  </div>
</template>
